<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITAR CADASTRO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<h1>Editar Cadastro</h1>

<form action="cadastroPost" method="POST">
    <!-- Adicione campos de formulário para cada propriedade do cadastro -->
    <input type="hidden" th:field="*{id}" />
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" required />
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />
    <br>
    <!-- Adicione outros campos de formulário conforme necessário -->

    <button type="submit">Salvar</button>
</form>

<a href="cadastroGet">Voltar para a Lista</a>
</body>

</html>